<!DOCTYPE html>
<html>
<head>
  <title>
    SPW
  </title>
  <!-- <link rel="stylesheet" type="text/css" href="mypfstyle.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="description" content="File sharing from pc over wifi without internet">
  <meta charset="utf-8">
  <meta name="author" content="Mohit Juneja">
</head>
<body>
    <h1>Welcome to Share from PC over WiFi(SPW)</h1>
    <ul>
      <!-- <li>Open http://<%-data%>:45678 on all the destination machines.</li> -->
      <li id="ip_here"></li>
      <li>Put the file in the Share folder in the repository on the source machine.</li>
      <li>Make sure you disabled your firewall on source machine for incoming traffic or allow the port numbers 45678/tcp and 80/tcp.</li>
      <li id="dl">Click to download the file.</li>
      <span hidden id="the_end"></span>
	<form action="/upload" method="post" enctype="multipart/form-data">

		<input type="file" name="uf" id="uf" onchange="uploadFile()"><br>
  		<progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
  		<h3 id="status"></h3>
  		<p id="loaded_n_total"></p>		

	</form>
    </ul>
</body>
<script>
  var ip_and_filenames=<%-data%>
  
  var files=ip_and_filenames.files
  var ip=ip_and_filenames.ip
 // console.log(files)
 // var str_with_ip="Open http://"+ip+":45678 on all the destination machines."
  var text_node_with_ip = document.createTextNode("Open http://"+ip+":45678 on all the destination machines.")
  var ip_here = document.getElementById("ip_here")
  ip_here.appendChild(text_node_with_ip)
  
  files.forEach( filename => {
    var for_file = document.createElement("a")
    for_file.href = '/'+filename
    var for_text_filename = document.createTextNode(filename)
    var new_line = document.createElement("br")
    for_file.appendChild(for_text_filename)
    var ending = document.getElementById("the_end")
    var parentdiv=ending.parentNode

    parentdiv.insertBefore(for_file, ending)
    parentdiv.insertBefore(new_line, ending)
  });


	function _(el) {
  return document.getElementById(el);
}

function uploadFile() {
  var file = _("uf").files[0];
  // alert(file.name+" | "+file.size+" | "+file.type);
  var formdata = new FormData();
  formdata.append("uf", file);
  var ajax = new XMLHttpRequest();
  ajax.upload.addEventListener("progress", progressHandler, false);
  ajax.addEventListener("load", completeHandler, false);
  ajax.addEventListener("error", errorHandler, false);
  ajax.addEventListener("abort", abortHandler, false);
  ajax.open("POST", "/upload"); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
  //use file_upload_parser.php from above url
  ajax.send(formdata);
}

function progressHandler(event) {
  _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
  var percent = (event.loaded / event.total) * 100;
  _("progressBar").value = Math.round(percent);
  _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
}

function completeHandler(event) {
  _("status").innerHTML = event.target.responseText;
  _("progressBar").value = 0; //wil clear progress bar after successful upload
}

function errorHandler(event) {
  _("status").innerHTML = "Upload Failed";
}

function abortHandler(event) {
  _("status").innerHTML = "Upload Aborted";
}


</script>
<style>

</style>

</html>
